.container{
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.notes-group{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    margin-top: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    overflow: hidden;
    position: relative;
    
}

.notes-group h1 {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px 0;
    z-index: 1;
    margin: 0;
}
.notes{
    height: 100vh;
    width: 100%;
    background-color: #DAE5F5;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    overflow: hidden;
}
.home-image img{
    height: 300px;
    width: 600px;
    margin-top: 100px;
}

.notes h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 58.59px;
    letter-spacing: 0.02em;
    text-align: left;
}
.notes p{
    height: auto;
    width: 57.9%;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left; 
    color: #292929;  
    margin-top: 10px; 
    text-wrap: wrap;
}
.scroll{
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.lock{
    margin-top: auto;
    padding-top: 10px;
}
.lock img{
    height: 1rem;
    width: 0.8rem;
}
.lock span{
    margin-left: 5px;
    color: #292929;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: left;   
}
.add {
    position: fixed;
    height: 80px; 
    width: 80px;
    background-color: #16008B;
    border-radius: 50%; 
    left: 16%; 
    top: 85%; 
    cursor: pointer;
    box-sizing: border-box; 
}

.add img {
    height: auto;
    width: 70%; 
    padding-left: 29%; 
    padding-top: 26%; 
}
.group{
    display: flex;
    padding-left: 12%;
    gap: 20px;
    align-items: center;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 16px;
}
.group.selected{
    background-color: #2F2F2F2B;
}
.group-icon{
    height: 50px;
    width: 50px;
    color: #ffffff;
    background-color: #0047FF;
    border-radius: 50%;
    padding-top: 13px;
    flex-shrink: 0;
    cursor: pointer;
}
.group-icon > p{
    font-size: 18px;
    font-weight: 500;
    line-height: 23.45px;
    letter-spacing: 0.02em;
    text-align: center;
}
.group-name {
    max-width: 75%; 
}
.group-name > p{
    font-size: 18px;
    font-weight: 600;
    line-height: 28.13px;
    letter-spacing: 0.02em;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    cursor: pointer;
}